{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PFDL About</title>
  </head>
  <p> This is the introduction from the book itself:<br/>
    "The helpful and amusing proverbs gathered in this book come from both ancient and modern times, and from many languages. Human experience has tested this wisdom in different ages, various nations, and under all conditions. Since as human beings we are today unchanged from the past, we will find the proverbs of our forefathers as wise and helpful as ever in meeting the problems of daily living. Even among the humorous sayings each has its own nugget of serious truth. These proverbs are all arranged in almanac-fashion, one for each day of the year, and we hope that you will enjoy them for many years to come."</p><br/><br/>

    <p> Here is my personal introduction:<br/>
      I came across 'Proverbs for Daily Living' at a Goodwill in Nacogdoches, Texas in 2002. Since then, I've read a proverb, from the book, virtually every day since. I've written the proverbs daily several times. I find it funny, that when a friend visits me that I haven't seen in years, they mention that it's cool that I still have, and read the book, everyday. There's not much information out on the web about the book. I know that it was published by Peter Pauper Press, Chicago, in the 1950s. There are a few copies available to buy out in the world. I have decided with this project, to digitize the edition, to make it available for future generations. This book has had more impact on my life, and the person that I am, that any other. I hope that you enjoy it as much as I have.</p><br/><br/>
<hr/>
      <p>I want to take a moment to say that, I have copied the book 'Proverbs for Daily Living' directly as it is presented in the book. The punctuation and spellings are not always how I would present them. Also, some of the proverbs are a little bit sexist. Again, I copied them directly. Please take these nuggets of wisdom and apply them to you life as you way. This book is quite old; the way things are stated in out current day, are not the same as they were back then. Please do not let the way that it was written keep you from applying the wisdom passed down within.
  <body>

  </body>
</html>
