{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Proverbs for Daily Living</title>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
	<header class="head">
      <div class="container">
                <strong><nav>
          <ul class="menu">
            <li>Home</li>
            <li>About</li>
						<li>Tenets for Good Living</li>
            <li>User Submitted Proverbs</li>
						<li>Prayer List</li>
          </ul>
        </nav></strong>
      </div>
    </header>
	
	<body class="tops">
		<img src="static/content/images/pfdlLogo.png" alt="Proverber" width='800px' />
    <img src="static/content/images/IMG_2402.png" alt="Proverber" width='240px'/>
	<hr />
   {% block content %}
   {% endblock %}
	<hr/>
  <footer>Man Hold Up, Chanten 2018</footer>
  <!-- <script <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script> -->
 </body>
</html>
