h1 {
  color: #9e161a;
  text-align: center;
  -webkit-text-stroke: .35px  #FFFFFF;
}
body {
  background-color: #d7b99f;
  color: #9e161a;
  text-align: center;
  width: auto;
}
.date {
  color: #FFFFFF;
}
hr {
height: 1px;
color: #39383d;
background-color: #39383d;
border: none;
}
footer {
  color: #FFFFFF;
}
